
$primary:       #F2786D ;
$secondary:     #B4B9D9;
$rose:          #f28dbc;
$purple:        #bf88a2;
$rouge:         #a64444;

     ;


$enable-rounded:              false ;
$enable-shadows:              true ;

$zindex-offcanvas: 1051;